body {
    background-image: url("web-background.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:#ffffff;
    opacity: 0.9;
}
.article {
    margin-bottom: 30px;
}
.article h2 {
    font-size: 21px;
    margin-bottom: 10px;
}
.article p {
    line-height: 1.5;
    font-size: 19px;
    margin-bottom: 20px;
}
.next-page p {
    line-height: 1.5;
    font-size: 19px;
    margin-bottom: 20px;
    
}
.next-page h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .next-page a {
        color: #333;
}
.credit {
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
}
.credit a {
    color: #333;
}